In [1]:
import pandas as pd
from pandas import DataFrame




#concatenating using append
result4 = df1.append(df2) #rbind(axis=1)
print('\n result4')
print(result4)

result5 = df1.append([df2,df3])
print('\n result5')
print(result5)

#merge() for join operation
left = DataFrame({'key1':['K0','K0','K1','K2'],
                  'key2':['K0','K1','K0','K1'],
                  'A':['A0','A1','A2','A3'],
                  'B':['B0','B1','B2','B3']})
print("\n left")
print(left)
right = DataFrame({'key1':['K0','K1','K1','K2'],
                   'key2':['K0','K0','K0','K1'],
                   'C':['C0','C1','C2','C3'],
                   'D':['D0','D1','D2','D3']})
print('\n right')
print(right)

print('\n result default(inner)')
result = pd.merge(left, right, on=['key1','key2'])
print(result)
print('\n result left')
result1 = pd.merge(left, right, how='left', on=['key1','key2'])
print(result1)
print('\n result right')
result2 = pd.merge(left, right, how='right', on=['key1','key2'])
print(result2)
print('\n result outer')
result3 = pd.merge(left, right, how='outer', on=['key1','key2'])
print(result3)

      A    B   C   D    E
x 0  A0   B0  C0  D0  NaN
  1  A1   B1  C1  D1  NaN
  2  A2   B2  C2  D2  NaN
  3  A3   B3  C3  D3  NaN
y 2  A4  NaN  C4  D4   E0
  3  A5  NaN  C5  D5   E1
  4  A6  NaN  C6  D6   E2
  5  A7  NaN  C7  D7   E3
    A    B   C   D   E
2  A4  NaN  C4  D4  E0
3  A5  NaN  C5  D5  E1
4  A6  NaN  C6  D6  E2
5  A7  NaN  C7  D7  E3

 result1
     A    B    C    D    A    C    D    E
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2   A4   C4   D4   E0
3   A3   B3   C3   D3   A5   C5   D5   E1
4  NaN  NaN  NaN  NaN   A6   C6   D6   E2
5  NaN  NaN  NaN  NaN   A7   C7   D7   E3

 result2
    A   B   C   D   A   C   D   E
2  A2  B2  C2  D2  A4  C4  D4  E0
3  A3  B3  C3  D3  A5  C5  D5  E1

 result3
    A   B   C   D    A    C    D    E
0  A0  B0  C0  D0  NaN  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN  NaN
2  A2  B2  C2  D2   A4   C4   D4   E0
3  A3  B3  C3  D3   A5   C5   D5   E1

 result4
    A    B   C   D    E
0  A0   B0  C0  D0  NaN
1  A1   B1  C1  D1  NaN
2  A2   B2  C2  D2  NaN
3  A3   B3  C3  D3  NaN
2  A4  NaN  C4  D4   E0
3  A5  NaN  C5  D5   E1
4  A6  NaN  C6  D6   E2
5  A7  NaN  C7  D7   E3

 result5
     A    B    C    D    E    F    G    H    I
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN
2   A4  NaN   C4   D4   E0  NaN  NaN  NaN  NaN
3   A5  NaN   C5   D5   E1  NaN  NaN  NaN  NaN
4   A6  NaN   C6   D6   E2  NaN  NaN  NaN  NaN
5   A7  NaN   C7   D7   E3  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN   F0   G0   H0   I0
7  NaN  NaN  NaN  NaN  NaN   F1   G1   H1   I1
8  NaN  NaN  NaN  NaN  NaN   F2   G2   H2   I2
9  NaN  NaN  NaN  NaN  NaN   F3   G3   H3   I3

 left
    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

 right
    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K1

 result default(inner)
    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2
3  A3  B3   K2   K1  C3  D3

 result left
    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1   C3   D3

 result right
    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2
3  A3  B3   K2   K1  C3  D3

 result outer
    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1   C3   D3

# Create multiple dataframes

In [2]:
df1 = DataFrame({'A':['A0','A1','A2','A3'],
                 'B':['B0','B1','B2','B3'],
                 'C':['C0','C1','C2','C3'],
                 'D':['D0','D1','D2','D3']},
                 index=[0,1,2,3])
df2 = DataFrame({'A':['A4','A5','A6','A7'],
                 'C':['C4','C5','C6','C7'],
                 'D':['D4','D5','D6','D7'],
                 'E':['E0','E1','E2','E3']},
                 index=[2,3,4,5])
df3 = DataFrame({'F':['F0','F1','F2','F3'],
                 'G':['G0','G1','G2','G3'],
                 'H':['H0','H1','H2','H3'],
                 'I':['I0','I1','I2','I3']},
                 index=[6,7,8,9])

# Concatenate

In [3]:

frames = [df1, df2]

result = pd.concat(frames, keys=['x','y'])
print(result)

print(result.ix['y'])

result1 = pd.concat([df1,df2], axis=1) # axis =0 ì´ ê¸°ë³¸ê°’,0ì€ cbind,1ì€ rbind
print('\n result1')
print(result1)


result2 = pd.concat([df1,df2], axis=1, join='inner')
print("\n result2")
print(result2)

result3 = pd.concat([df1,df2], axis=1, join_axes=[df1.index])
print('\n result3')
print(result3)

      A    B   C   D    E
x 0  A0   B0  C0  D0  NaN
  1  A1   B1  C1  D1  NaN
  2  A2   B2  C2  D2  NaN
  3  A3   B3  C3  D3  NaN
y 2  A4  NaN  C4  D4   E0
  3  A5  NaN  C5  D5   E1
  4  A6  NaN  C6  D6   E2
  5  A7  NaN  C7  D7   E3
    A    B   C   D   E
2  A4  NaN  C4  D4  E0
3  A5  NaN  C5  D5  E1
4  A6  NaN  C6  D6  E2
5  A7  NaN  C7  D7  E3

 result1
     A    B    C    D    A    C    D    E
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2   A4   C4   D4   E0
3   A3   B3   C3   D3   A5   C5   D5   E1
4  NaN  NaN  NaN  NaN   A6   C6   D6   E2
5  NaN  NaN  NaN  NaN   A7   C7   D7   E3

 result2
    A   B   C   D   A   C   D   E
2  A2  B2  C2  D2  A4  C4  D4  E0
3  A3  B3  C3  D3  A5  C5  D5  E1

 result3
    A   B   C   D    A    C    D    E
0  A0  B0  C0  D0  NaN  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN  NaN
2  A2  B2  C2  D2   A4   C4   D4   E0
3  A3  B3  C3  D3   A5   C5   D5   E1

# Append dataframe

In [4]:
result4 = df1.append(df2) #rbind(axis=1)
print('\n result4')
print(result4)

result5 = df1.append([df2,df3])
print('\n result5')
print(result5)

 result4
    A    B   C   D    E
0  A0   B0  C0  D0  NaN
1  A1   B1  C1  D1  NaN
2  A2   B2  C2  D2  NaN
3  A3   B3  C3  D3  NaN
2  A4  NaN  C4  D4   E0
3  A5  NaN  C5  D5   E1
4  A6  NaN  C6  D6   E2
5  A7  NaN  C7  D7   E3

 result5
     A    B    C    D    E    F    G    H    I
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN
2   A4  NaN   C4   D4   E0  NaN  NaN  NaN  NaN
3   A5  NaN   C5   D5   E1  NaN  NaN  NaN  NaN
4   A6  NaN   C6   D6   E2  NaN  NaN  NaN  NaN
5   A7  NaN   C7   D7   E3  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN   F0   G0   H0   I0
7  NaN  NaN  NaN  NaN  NaN   F1   G1   H1   I1
8  NaN  NaN  NaN  NaN  NaN   F2   G2   H2   I2
9  NaN  NaN  NaN  NaN  NaN   F3   G3   H3   I3

# Join dataframes with merge() function

In [6]:
df1 = DataFrame({'key1':['K0','K0','K1','K2'],
                  'key2':['K0','K1','K0','K1'],
                  'A':['A0','A1','A2','A3'],
                  'B':['B0','B1','B2','B3']})

df2 = DataFrame({'key1':['K0','K1','K1','K2'],
                   'key2':['K0','K0','K0','K1'],
                   'C':['C0','C1','C2','C3'],
                   'D':['D0','D1','D2','D3']})

# Right join
result2 = pd.merge(df1, df2, how='right', on=['key1','key2'])

# Outer join
result3 = pd.merge(df1, df2, how='outer', on=['key1','key2'])

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1   C3   D3

# inner join as default

In [7]:
result = pd.merge(df1, df2, on=['key1','key2'])

# Left join

In [8]:
result1 = pd.merge(df1, df2, how='left', on=['key1','key2'])

# Right join

# Outer join